body {
  text-align: center;
  font-family: "Elsie", serif;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: pink;
}

.cat {
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: rgb(222, 49, 99);
  color: white;
}

#no {
  position: absolute;
  transition: 0.2s;
  margin-left: 100px;
}

#yes {
  margin-right: 90px;
}
